<h1>Food incubators</h1>
<br>
<h2><%= link_to 'Home', welcome_index_path %></h2>

<table>
 <thead>
  <tr>
   <th>Latitude</th>
   <th>Longitude</th>
   <th>Address<th>
   <th>Organization</th>
   <th>Organization Profile</th>
   <th></th>
   <th></th>
   <th></th>
  </tr>
 </thead>

 <tbody>
  <% @food_incubators.each do |food_incubator| %>
  <tr>
    <td><%= food_incubator.latitude %></td>
    <td><%= food_incubator.longitude %></td>
    <td><%= food_incubator.address %></td>
    <td><%= food_incubator.organization %></td>
    <td><%= food_incubator.organization_profile %></td>
    <td><%= link_to 'Show', food_incubator %></td>
    <td><%= link_to 'Edit', edit_food_incubator_path(food_incubator) %></td>
    <td><%= link_to 'Destroy', food_incubator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
   <% end %>
 </tbody>
</table>

<br>

<%= link_to 'New Food Incubator', new_food_incubator_path %>

 <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> 


<script>
var map;
var markersArray = [];

function initMap () {
  var start = new google.maps.LatLng(36.778261, -119.417932);
  var mapOptions = {
    zoom: 8,
    center: start,
  };

  map = new google.maps.Map(document.getElementById("map"),
    mapOptions);
  markerFromDB();
}

function markerFromDB() {
  <% @food_incubators.each do |food_incubator| %>
  var latitude = <%= food_incubator.latitude %>;
  var longitude = <%= food_incubator.longitude %>;
  addMarker(latitude, longitude);
  <%end%>
}

function addMarker(latitude, longitude) {
  var marker = new google.maps.Marker({
    map: map,
    position: new google.maps.LatLng(latitude, longitude)
  });
  markersArray.push(marker);
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

<!-- // Working code for hardcoded array
//  function initMap(){
//    var options = {
//      zoom:6,
//      center: {lat: 37.774, lng: -122.419}
//    }

//    var map = new google.maps.Map(document.getElementById('map'), options);


// // Array of markers
// var markers = [

// {
//   coords:{lat:37.390,lng:-122.081}
// },
  
//   {
//    coords:{lat:338.627,lng:-90.221}
//   },
  
//   {
//     coords:{lat:37.774,lng:-122.419}
//   } 

// ];


//   // Loop through markers
//   for(var i = 0;i < markers.length;i++){
//     // Add marker
//    addMarker(markers[i]);
//   }

// // Add Marker Function
// function addMarker(props){
// var marker = new google.maps.Marker({
//     position:props.coords,
//     map:map
//   });

// }

// } -->

  <!--  <script>
 //      function initMap() {
 //        var mountain_view = {lat: 37.390, lng: -122.081};
 //        var map = new google.maps.Map(document.getElementById('map'), {
 //          zoom: 4,
 //          center: mountain_view
 //        });
 //        var marker = new google.maps.Marker({
 //          position: mountain_view,
 //          map: map
 //        });
 //      }
 //    </script> -->

<!-- // <script type="text/javascript"> 
//   handler = Gmaps.build('Google');
//   handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
//     markers = handler.addMarkers(<%= raw @hash.to_json %>);
//     handler.bounds.extendWith(markers);
//     handler.fitMapToBounds();
//   });

// </script> -->

  

 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCr4dhD_03iQRnUU8nAIP8-w5eKCe3zwQ&callback=initMap">
    </script>
